.header_section{
    display: flex;
    justify-content: space-between;
    width: auto;
    height: 40px;
    border: 1px solid red;
}

.header_business_logo_wrapper img{
    width: 100%;
    height: -webkit-fill-available;
}

.breadcrumb{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
/* .line_1, .line_2, .line_3{
    width: 5px;
    height: 1px;
} */
/* .hamburger_icon{
    display: flex;
} */

