.header_section{
    display: flex;
    justify-content: space-between;
    width: auto;
    height: 50px;
    /* border: 1px solid red; */
    padding: 0px 30px;
    margin-top: 10px;
}

.header_business_logo_wrapper img{
    width: 100%;
    height: -webkit-fill-available;
}

.breadcrumb{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 21;
}
/* .line_1, .line_2, .line_3{
    width: 5px;
    height: 1px;
} */
/* .hamburger_icon{
    display: flex;
} */

.sidebar_wrapper{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: calc(100% - 20px);
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    z-index: 20;
}
.navigation_element{
    list-style: none;
    font-size: 18px;
}

